/* hero section */

.hero-section-home{
    display: flex;
    padding: 3rem 0;
    width: 1272px;
    background-image: url(../img/bg-code-hero-section-new-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-section-left{
    display: flex;
    justify-content: end;
}

.hero-section-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-hero-section{
    max-width: 520px;
    padding: 2.5rem 0rem 1.5rem 0rem;
}

.button-hero-section{
    display: flex;
    gap: 12px;
}

.image-hero-section{
    width: 413px;
    height: 557.6px;
}

/* about me section */

.about-me-section{
    gap: 96px;
}

.about-left{
    background-color: var(--light-black);
    padding: 2.5rem;
}

/* experience section */

.experience-section{
    flex-direction: column;
    align-items: center;
    max-width: 625px;
}

.title-exp-section{
    align-items: center;
}

.center-exp-section{
    display: flex;
    justify-content: space-between;
    width: 625px;
    padding-bottom: 2rem;
}

.vertical-line-divisor-exp{
    width: 10px;
    height: auto;
}

.cards-exp-section{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 522px;
}

.card-exp{
    width: 522px;
    padding: 2rem 0rem 1rem 0rem;
}

.card-exp-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.card-exp-subtitle{
    padding-bottom: 1.5rem;
}

/* projects section */

.projects-section{
    flex-direction: column;
    align-items: center;
}

.title-projects-section{
    align-items: center;
}

.card-projects-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.external-links-card-projects{
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.name-card-project{
    padding-bottom: 0.5rem;
}

.card-projects{
    border: 1px solid var(--pink);
    width: 404px;
    padding: 3rem 2rem;
}

.cards-projects-section{
    display: flex;
    justify-content: space-between;
    width: 1272px;
    padding-bottom: 2rem;
}

.icon-folder{
    width: 50px;
    height: 40px;
}

.project-icon-external-links{
    width: 25px;
    height: 25px;
}
