:root{
    --pink: #F20089;
    --very-light-pink: #E1D4F0;
    --light-gray: #D7DEF1;
    --black: #081214;
    --light-black: #141E20;
    --transparent: rgba(0, 0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
    color: var(--very-light-pink);
    font-style: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* headings & texts */

.title-dot::after{
    content: ".";
    color: var(--pink);
}

.h1-style{
    font-weight: 600;
    font-size: 64px;
    line-height: 150%;
}

.h2-style{
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
}

.h3-style{
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
}

.h4-style{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.h5-style{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.h6-style{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.text-style{
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    padding-bottom: 1.5rem;
}

.little-text{
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
}

.a-style{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s ease;
}

.link-style:hover{
    color: var(--pink);
    cursor: pointer;
}

/* tablet */

@media (max-width: 1024px){
    .h1-style{
        font-size: 56px;
    }
    
    .h2-style{
        font-size: 36px;
    }
    
    .h3-style{
        font-size: 28px;
    }
    
    .h4-style{
        font-size: 16px;
    }
}

/* tags */

.tag-style{
    display: flex;
    width: fit-content;
    padding: 8px 16px;
    border: 2px solid var(--pink);
    background-color: var(--transparent);
}

/* buttons */

.primary-button-style{
    display: flex;
    width: fit-content;
    padding: 12px 24px;
    border: 2px solid var(--pink);
    background-color: var(--transparent);
}

.primary-button-style:hover{
    background-color: var(--pink);
    color: var(--black);
}


/* colors */

.pink{
    color: var(--pink);
}

.very-light-pink{
    color: var(--very-light-pink);
}

.black{
    color: var(--black);
}

.light-gray{
    color: var(--light-gray);
}

/* divisors */

.vertical-line-divisor{
    background-color: var(--pink);
}

/* header */

.container-header{
    width: 100%;
    max-width: 1272px;
    display: flex;
    justify-content: space-between;
    height: 96px;
    background-color: var(--black);
}

.menu{
    display: flex;
    align-items: center;
}

.main-logo{
    width: 51px;
    height: 91px;
}

.nav-item{
    list-style: none;
}

.nav-menu{
    display: flex;
    gap: 32px;
    align-items: baseline;
}

.nav-link{
    transition: 0.5s ease;
}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--pink);
}

@media (max-width: 767px){
    .burger{
        display: block;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(42deg);
    }

    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-42deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--light-black);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        align-items: center;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .contact-button{
        color: var(--pink);
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
    }

    .contact-button:hover{
        color: var(--very-light-pink);
        cursor: pointer;
        background-color: var(--transparent);
    }
}

/* icons */

a > img {
    transition: 0.3s ease-in-out;
}

a > img:hover {
    transform:scale(0.85);
}

/* sections */

.container{
    width: 1272px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-container{
    display: flex;
    padding: 5rem 0;
    width: 1272px;
}

.two-column{
    width: 50%;
}

.title-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 48px;
}



/* footer / contact */

.contact-section{
    flex-direction: column;
    align-items: center;
}

.title-contact-section{
    align-items: center;
}

.contact-icons-social-media{
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

.contact-text{
    max-width: 412px;
    text-align: center;
    padding-bottom: 2.5rem;
}

.social-media-icon{
    height: 18px;
    width: 24px
}

.footer-end{
    background-color: var(--light-black);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
